{
  "presets": ["es2015", "es2016", "power-assert", "react"],
  "plugins": [
    "add-module-exports",
    "transform-inline-environment-variables",
    "transform-async-to-generator",
    "transform-flow-strip-types"
  ]
}
