<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=on">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="">
    <title>Welcome to Dietcube</title>
    <link rel="stylesheet" type="text/css" href="/public/index.css" />
  </head>
  <body>

    <div class="main">

      <h1>Miser</h1>
      <ul>
        {% for week in month %}
          {% for day in week %}
            {% if month.includes(day) %}
              <li>{{ day.format('d') }}</li>
            {% else %}
              <li style="color: red;">{{ day.format('d') }}</li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>

    </div>

    <footer class="footer">
    <p>Project powered by <a href="https://github.com/mercari/dietcube">Dietcube</a>. </p>
    </footer>

  </body>
</html>


